PLATFORM=win32

SDL_LIB_DIR = "C:/SDL-1.2.15/lib/x86"
SDL_INCLUDE_DIR = "C:/SDL-1.2.15/include"
SDL_LIBS = SDL.lib SDLmain.lib SDL_image.lib
BOOST_DIR = C:/boost_1_53_0

#linux example
#
#PLATFORM=linux
#
#SDL_LIB_DIR = /usr/lib/i386-linux-gnu
#SDL_INCLUDE_DIR = /usr/include/SDL
#SDL_LIBS = SDL SDLmain SDL_image


